<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<div class="container-fluid">
  <div class="row row1">
    <div class="col-sm-4 col-xs-4 col-md-4 col-lg-4">
      <div class="text"><strong>facebook</strong></div>
    </div>
    <div class="col-sm-8 col-xs-8 col-md-8 col-lg-8 col-md-offset-4 ">
      <div class="loginDetails">
        <div>
          <h6>Email</h6>
          <li><input [(ngModel)]="email" type="text" /></li>
        </div>
        <div>
          <h6>Password</h6>
          <li><input type="text" [(ngModel)]="pass" /></li>
          <li>
            <input
              class="Login"
              type="submit"
              (click)="submit(email, pass)"
              value="Log in"
            />
          </li>
        </div>
      </div>
    </div>
  </div>
  <div class="row row2">
    <div class="col-md-6">
      <div class="row2div1">
        <p>
          <strong
            >Facebook helps you connect and share with the<br />
            people in your life.</strong
          >
        </p>
        <img
          class="img-responsive"
          src="https://static.xx.fbcdn.net/rsrc.php/v3/yi/r/OBaVg52wtTZ.png"
        />
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="text2">
          <div class="createAccount">Create an account</div>
          <div>It's quick and easy.</div>
        </div>
      </div>
      <div class="row">
        <div class="form">
          <div class="username">
            <input type="text" placeholder=" First Name" /><input
              type="text"
              placeholder=" Surname"
            />
          </div>
          <div><input type="text" /></div>
          <div><input type="text" /></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row row3"></div>
</div>
